In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df_cap_k = pd.read_csv('./New_drone_performance.csv')

df_cap_k.head()

,delivary_locations,drone_capacity,obstacles,Without_obstacles,Christofides,Christofides_newton,brut_force_distance,brut_force_Newton
0,30,5,13,83.283274,90.141467,89.591717,89.835059,90.081383
1,30,5,13,81.367643,86.756150,86.063053,84.882193,84.472434
2,30,5,13,87.604078,96.873890,96.191863,94.697949,95.312135
3,30,5,13,84.905508,92.691934,92.614194,89.381343,89.657590
4,30,5,13,86.895994,93.989915,92.702392,91.095931,90.881043

In [13]:
df_filtered = df_cap_k[df_cap_k['drone_capacity'] == 5]
df_filtered.tail()

,delivary_locations,drone_capacity,obstacles,Without_obstacles,Christofides,Christofides_newton,brut_force_distance,brut_force_Newton
15,10,5,13,37.090250,44.273210,44.530315,40.636017,40.842947
16,15,5,13,53.233215,57.254005,58.156060,55.550863,56.847773
17,15,5,13,46.988933,48.994538,48.908897,48.441409,48.066323
18,15,5,13,50.983927,57.928269,56.998425,56.486989,56.065214
19,15,5,13,54.364281,56.161704,56.093632,55.857791,55.770558

In [ ]:
# sns.lineplot(data=df_filtered,x=